<!DOCTYPE html>
<html>
  <head>
    <title>お土産検索</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-header">
      <ul>
        <li>新規登録</li>
        <li>ログイン</li>
      </ul>
    </div>
    <div class="container">
      <div class="sidebar">
        <div class="sidebar__item">
        　ああああああ
          <!-- 中身 -->
        </div>
      </div>
      <main class="main">
        <%= yield %>
      </main>
    </div>
    <div class="main-footer">
      jonconan
    </div>
  </body>
</html>
